@use "../base/variables" as *;

.books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.books-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 424px);
    grid-template-rows: repeat(auto-fill, 300px);
    gap: 96px 76px;
}

.book-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-text;

    &__cover {
        width: 100%;
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-left: 36px;
        gap: 1rem;
    }

    &__title {
        margin-top: 4px;
        font-family: $font-secondary;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        color: $highlighted-color;
    }

    &__rating {
        margin-top: 4px;
        color: $star-color;
        font-size: $font-size-small;
    }

    &__review {
        font-family: $font-primary;
        font-weight: $font-weight-regular;
        font-size: $font-size-text;
        color: $text-color;
    }

    &__price {
        font-family: $font-secondary;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        color: $highlighted-color;
    }
}