extends ../layouts/base 

block content 
    include ../components/slider

    .container
        include ../components/categories
        include ../components/books

block script
    script(src="Scripts/header.js")
    script(src="Scripts/slider.js")
    script(src="Scripts/books/main.js")

