aside.categories
    //- .categories-wrapper
    ul.categories-list
        li(data-category="Architecture") Architecture
        li(data-category="Art & Fashion") Art &#38; Fashion
        li(data-category="Biography") Biography
        li(data-category="Business") Business
        li(data-category="Crafts & Hobbies") Crafts &#38; Hobbies
        li(data-category="Drama") Drama
        li(data-category="Fiction") Fiction
        li(data-category="Food & Drink") Food &#38; Drink
        li(data-category="Health & Wellbeing") Health &#38; Wellbeing
        li(data-category="History & Politics") History &#38; Politics
        li(data-category="Humor") Humor
        li(data-category="Poetry") Poetry
        li(data-category="Psychology") Psychology
        li(data-category="Science") Science
        li(data-category="Technology") Technology
        li(data-category="Travel & Maps") Travel &#38; Maps
