header.header
    .navigation-container
        .logo
            a(href="/") Bookshop
        nav.nav-menu
            ul 
                li 
                    a(href='/books') books
                li
                    a(href='/audibooks') audiobooks
                li
                    a(href='/stationery') Stationery &#38; gifts
                li
                    a(href='/blog') blog
        .nav-icons
            a(href="/profile")
                img(src="Images/svg/user-icon.svg" alt='Профиль')
            a(href="#")
                img(src="Images/svg/search-icon.svg" alt='Поиск')
            a.cart-icon(href="#")
                img(src="Images/svg/shop-bag-icon.svg" alt='Корзина')
                .cart-icon__count 