section.slider
    .slider__images
    .slider__nav
        .slider__dots

    .block-links-container
        //- .block-link-first
        a.slider-block__link.block-link-first(href="/oldbook") Change old book on new 
            img.arrow(src="Images/svg/block-arrow.svg" alt="Стрелка вправо")
        //- .block-link-second
        a.slider-block__link.block-link-second(href="/newbook") 
            p 
                span top 
                span 100
                span books 
                span 2022 
            img.arrow(src="Images/svg/block-arrow.svg" alt="Стрелка вправо")


